<section class="landing-footer relative">
  <div
    class="landing-footer-container relative z-5 flex flex-column flex-shrink-0 justify-content-center align-items-center">
    <div class="landing-footer-row row-1 flex flex-row justify-content-between align-items-center w-full pt-3"></div>
    <div class="landing-footer-row landing-footer-sites flex flex-row  justify-content-end align-items-center w-full">
      <div class="landing-footer-right flex flex-row gap-1 md:gap-3  justify-content-end align-items-end">
        <a href="#" target="_blank" rel="noopener noreferrer"
          class="linkbox header-button flex align-items-center justify-content-center flex-shrink-0"><i
            class="pi pi-whatsapp"></i></a><a href="#" target="_blank" rel="noopener noreferrer"
          class="linkbox header-button flex align-items-center justify-content-center flex-shrink-0"><i
            class="pi pi-twitter"></i></a><a href="#" target="_blank" rel="noopener noreferrer"
          class="linkbox header-button mr-1 flex align-items-center justify-content-center flex-shrink-0"><i
            class="pi pi-instagram"></i></a>
        <a href="#" target="_blank" rel="noopener noreferrer"
          class="linkbox header-button mr-1 flex align-items-center justify-content-center flex-shrink-0"><i
            class="pi pi-facebook"></i></a>
        <a href="#" target="_blank" rel="noopener noreferrer"
          class="linkbox header-button mr-1 flex align-items-center justify-content-center flex-shrink-0"><i
            class="pi pi-telegram"></i></a>
        <a href="#" target="_blank" rel="noopener noreferrer"
          class="linkbox header-button mr-1 flex align-items-center justify-content-center flex-shrink-0"><i
            class="pi pi-linkedin"></i></a>
      </div>
    </div>
  </div>
</section>