.landing-footer{
    background-color: var(--landing-body-bg);
    overflow-x: hidden
  }

  .landing-footer-right{
    margin-bottom: 2%;
  }

  .linkbox{
    text-decoration: none;
  }

  .landing-footer-container{
    padding: 0 30px;

  }
  
  .landing-footer-sites{
    padding-top:30px;
  }