.bank-dropdowns {
  margin: 0 15px;
}

.question-bank-form {
  margin: 15px;
  display: flex;
  justify-content: center;
}

.questions {
  display: block;
  margin: 10px 0;
}

.question-bank-container {
  width: 100%;
  padding: 5px;
}

.summary-container {
  padding-bottom: 5px;
}