<div class="landing">
  <section class="landing-blocks-section relative landing-section-border">
    <div class="landing-blocks-container">
      <div
        class="landing-blocks-content text-center flex flex-column gap-5 flex-shrink-0 justify-content-center align-items-center"
      >
        <h1 class="landing-title font-bold m-0 text-7xl">
          {{ defNames.PREPQUIK_UPPER }}
        </h1>
        <h3 class="landing-subtitle m-0 text-2xl font-normal text-center">
          {{ defNames.MAIN_CONTENT_MSG }}
        </h3>
      </div>
      <div class="blocks-background">
        <div class="blocks-marquees">
          <div class="marquee-wrapper flex">
            <div class="marquee">
              <div class="w-full">
                <img src="/assets/Images/Home2.jpg" alt="Sample Image" />
              </div>
              <div class="w-full">
                <img src="/assets/Images/Home2.jpg" alt="Sample Image" />
              </div>
              <div class="w-full">
                <img src="/assets/Images/Home2.jpg" alt="Sample Image" />
              </div>
              <div class="w-full">
                <img src="/assets/Images/Home2.jpg" alt="Sample Image" />
              </div>
              <div class="w-full">
                <img src="/assets/Images/Home2.jpg" alt="Sample Image" />
              </div>
              <div class="w-full">
                <img src="/assets/Images/Home2.jpg" alt="Sample Image" />
              </div>
              <div class="w-full">
                <img src="/assets/Images/Home2.jpg" alt="Sample Image" />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/28.jpg"
                  alt="28"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/22.jpg"
                  alt="22"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/19.jpg"
                  alt="19"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/12.jpg"
                  alt="12"
                />
              </div>
            </div>
            <div class="marquee">
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/ec-9.jpg"
                  alt="ec-9"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/ec-2.jpg"
                  alt="ec-2"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/ec-16.jpg"
                  alt="ec-16"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/ec-10.jpg"
                  alt="ec-10"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/app-7.jpg"
                  alt="app-7"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/app-10.jpg"
                  alt="app-10"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/9.jpg"
                  alt="9"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/28.jpg"
                  alt="28"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/22.jpg"
                  alt="22"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/19.jpg"
                  alt="19"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/12.jpg"
                  alt="12"
                />
              </div>
            </div>
            <div class="marquee">
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/ec-9.jpg"
                  alt="ec-9"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/ec-2.jpg"
                  alt="ec-2"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/ec-16.jpg"
                  alt="ec-16"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/ec-10.jpg"
                  alt="ec-10"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/app-7.jpg"
                  alt="app-7"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/app-10.jpg"
                  alt="app-10"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/9.jpg"
                  alt="9"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/28.jpg"
                  alt="28"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/22.jpg"
                  alt="22"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/19.jpg"
                  alt="19"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/12.jpg"
                  alt="12"
                />
              </div>
            </div>
          </div>
          <div class="marquee-wrapper flex">
            <div class="marquee marquee-reverse">
              <div class="w-full">
                <img src="/assets/Images/Home2.jpg" alt="Sample Image" />
              </div>
              <div class="w-full">
                <img src="/assets/Images/Home2.jpg" alt="Sample Image" />
              </div>
              <div class="w-full">
                <img src="/assets/Images/Home2.jpg" alt="Sample Image" />
              </div>
              <div class="w-full">
                <img src="/assets/Images/Home2.jpg" alt="Sample Image" />
              </div>
              <div class="w-full">
                <img src="/assets/Images/Home2.jpg" alt="Sample Image" />
              </div>
              <div class="w-full">
                <img src="/assets/Images/Home2.jpg" alt="Sample Image" />
              </div>
              <div class="w-full">
                <img src="/assets/Images/Home2.jpg" alt="Sample Image" />
              </div>
              <div class="w-full">
                <img src="/assets/Images/Home2.jpg" alt="Sample Image" />
              </div>
              <div class="w-full">
                <img src="/assets/Images/Home2.jpg" alt="Sample Image" />
              </div>
              <div class="w-full">
                <img src="/assets/Images/Home2.jpg" alt="Sample Image" />
              </div>
              <div class="w-full">
                <img src="/assets/Images/Home2.jpg" alt="Sample Image" />
              </div>
              <div class="w-full">
                <img src="/assets/Images/Home2.jpg" alt="Sample Image`" />
              </div>
              <div class="w-full">
                <img src="/assets/Images/Home2.jpg" alt="Sample Image" />
              </div>
            </div>
            <div class="marquee marquee-reverse">
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/ec-8.jpg"
                  alt="ec-8"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/ec-18.jpg"
                  alt="ec-18"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/ec-15.jpg"
                  alt="ec-15"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/ec-11.jpg"
                  alt="ec-11"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/app-8.jpg"
                  alt="app-8"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/app-11.jpg"
                  alt="app-11"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/app-1.jpg"
                  alt="app-1"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/4.jpg"
                  alt="4"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/23.jpg"
                  alt="23"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/2.jpg"
                  alt="2"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/17.jpg"
                  alt="17"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/13.jpg"
                  alt="13"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/10.jpg"
                  alt="10"
                />
              </div>
            </div>
            <div class="marquee marquee-reverse">
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/ec-8.jpg"
                  alt="ec-8"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/ec-18.jpg"
                  alt="ec-18"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/ec-15.jpg"
                  alt="ec-15"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/ec-11.jpg"
                  alt="ec-11"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/app-8.jpg"
                  alt="app-8"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/app-11.jpg"
                  alt="app-11"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/app-1.jpg"
                  alt="app-1"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/4.jpg"
                  alt="4"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/23.jpg"
                  alt="23"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/2.jpg"
                  alt="2"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/17.jpg"
                  alt="17"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/13.jpg"
                  alt="13"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/10.jpg"
                  alt="10"
                />
              </div>
            </div>
          </div>
          <div class="marquee-wrapper flex">
            <div class="marquee">
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/ec-7.jpg"
                  alt="ec-7"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/ec-17.jpg"
                  alt="ec-17"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/app-9.jpg"
                  alt="app-9"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/app-5.jpg"
                  alt="app-5"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/app-3.jpg"
                  alt="app-3"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/5.jpg"
                  alt="5"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/25.jpg"
                  alt="25"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/18.jpg"
                  alt="18"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/16.jpg"
                  alt="16"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/1.jpg"
                  alt="1"
                />
              </div>
            </div>
            <div class="marquee">
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/ec-7.jpg"
                  alt="ec-7"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/ec-17.jpg"
                  alt="ec-17"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/app-9.jpg"
                  alt="app-9"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/app-5.jpg"
                  alt="app-5"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/app-3.jpg"
                  alt="app-3"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/5.jpg"
                  alt="5"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/25.jpg"
                  alt="25"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/18.jpg"
                  alt="18"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/16.jpg"
                  alt="16"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/1.jpg"
                  alt="1"
                />
              </div>
            </div>
            <div class="marquee">
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/ec-7.jpg"
                  alt="ec-7"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/ec-17.jpg"
                  alt="ec-17"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/app-9.jpg"
                  alt="app-9"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/app-5.jpg"
                  alt="app-5"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/app-3.jpg"
                  alt="app-3"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/5.jpg"
                  alt="5"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/25.jpg"
                  alt="25"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/18.jpg"
                  alt="18"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/16.jpg"
                  alt="16"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/1.jpg"
                  alt="1"
                />
              </div>
            </div>
          </div>
          <div class="marquee-wrapper flex">
            <div class="marquee marquee-reverse">
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/ec-6.jpg"
                  alt="ec-6"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/ec-3.jpg"
                  alt="ec-3"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/ec-13.jpg"
                  alt="ec-13"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/14.jpg"
                  alt="14"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/11.jpg"
                  alt="11"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/8.jpg"
                  alt="8"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/3.jpg"
                  alt="3"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/21.jpg"
                  alt="21"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/15.jpg"
                  alt="15"
                />
              </div>
            </div>
            <div class="marquee marquee-reverse">
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/ec-6.jpg"
                  alt="ec-6"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/ec-3.jpg"
                  alt="ec-3"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/ec-13.jpg"
                  alt="ec-13"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/14.jpg"
                  alt="14"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/11.jpg"
                  alt="11"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/8.jpg"
                  alt="8"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/3.jpg"
                  alt="3"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/21.jpg"
                  alt="21"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/15.jpg"
                  alt="15"
                />
              </div>
            </div>
            <div class="marquee marquee-reverse">
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/ec-6.jpg"
                  alt="ec-6"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/ec-3.jpg"
                  alt="ec-3"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/ec-13.jpg"
                  alt="ec-13"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/14.jpg"
                  alt="14"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/11.jpg"
                  alt="11"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/8.jpg"
                  alt="8"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/3.jpg"
                  alt="3"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/21.jpg"
                  alt="21"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/15.jpg"
                  alt="15"
                />
              </div>
            </div>
          </div>
          <div class="marquee-wrapper flex">
            <div class="marquee">
              <div class="w-full">
                <img src="/assets/Images/Home2.jpg" alt="Sample Image" />
              </div>
              <div class="w-full">
                <img src="/assets/Images/Home2.jpg" alt="Sample Image" />
              </div>
              <div class="w-full">
                <img src="/assets/Images/Home2.jpg" alt="Sample Image" />
              </div>
              <div class="w-full">
                <img src="/assets/Images/Home2.jpg" alt="Sample Image" />
              </div>
              <div class="w-full">
                <img src="/assets/Images/Home2.jpg" alt="Sample Image" />
              </div>
              <div class="w-full">
                <img src="/assets/Images/Home2.jpg" alt="Sample Image" />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/7.jpg"
                  alt="7"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/27.jpg"
                  alt="27"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/20.jpg"
                  alt="20"
                />
              </div>
            </div>
            <div class="marquee">
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/ec-5.jpg"
                  alt="ec-5"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/ec-4.jpg"
                  alt="ec-4"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/ec-14.jpg"
                  alt="ec-14"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/ec-12.jpg"
                  alt="ec-12"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/ec-1.jpg"
                  alt="ec-1"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/app-2.jpg"
                  alt="app-2"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/7.jpg"
                  alt="7"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/27.jpg"
                  alt="27"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/20.jpg"
                  alt="20"
                />
              </div>
            </div>
            <div class="marquee">
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/ec-5.jpg"
                  alt="ec-5"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/ec-4.jpg"
                  alt="ec-4"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/ec-14.jpg"
                  alt="ec-14"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/ec-12.jpg"
                  alt="ec-12"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/ec-1.jpg"
                  alt="ec-1"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/app-2.jpg"
                  alt="app-2"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/7.jpg"
                  alt="7"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/27.jpg"
                  alt="27"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/20.jpg"
                  alt="20"
                />
              </div>
            </div>
          </div>
          <div class="marquee-wrapper flex">
            <div class="marquee marquee-reverse">
              <div class="w-full">
                <img src="/assets/Images/Home2.jpg" alt="Sample Image" />
              </div>
              <div class="w-full">
                <img src="/assets/Images/Home2.jpg" alt="Sample Image" />
              </div>
              <div class="w-full">
                <img src="/assets/Images/Home2.jpg" alt="Sample Image" />
              </div>
              <div class="w-full">
                <img src="/assets/Images/Home2.jpg" alt="Sample Image" />
              </div>
              <div class="w-full">
                <img src="/assets/Images/Home2.jpg" alt="Sample Image" />
              </div>
              <div class="w-full">
                <img src="/assets/Images/Home2.jpg" alt="Sample Image" />
              </div>
              <div class="w-full">
                <img src="/assets/Images/Home2.jpg" alt="Sample Image" />
              </div>
              <div class="w-full">
                <img src="/assets/Images/Home2.jpg" alt="Sample Image" />
              </div>
              <div class="w-full">
                <img src="/assets/Images/Home2.jpg" alt="Sample Image" />
              </div>
              <div class="w-full">
                <img src="/assets/Images/Home2.jpg" alt="Sample Image" />
              </div>
              <div class="w-full">
                <img src="/assets/Images/Home2.jpg" alt="Sample Image" />
              </div>
            </div>
            <div class="marquee marquee-reverse">
              <div class="w-full">
                <img src="/assets/Images/Home2.jpg" alt="Sample Image" />
              </div>
              <div class="w-full">
                <img src="/assets/Images/Home2.jpg" alt="Sample Image" />
              </div>
              <div class="w-full">
                <img src="/assets/Images/Home2.jpg" alt="Sample Image" />
              </div>
              <div class="w-full">
                <img src="/assets/Images/Home2.jpg" alt="Sample Image" />
              </div>
              <div class="w-full">
                <img src="/assets/Images/Home2.jpg" alt="Sample Image" />
              </div>
              <div class="w-full">
                <img src="/assets/Images/Home2.jpg" alt="Sample Image" />
              </div>
              <div class="w-full">
                <img src="/assets/Images/Home2.jpg" alt="Sample Image" />
              </div>
              <div class="w-full">
                <img src="/assets/Images/Home2.jpg" alt="Sample Image" />
              </div>
              <div class="w-full">
                <img src="/assets/Images/Home2.jpg" alt="Sample Image" />
              </div>
              <div class="w-full">
                <img src="/assets/Images/Home2.jpg" alt="Sample Image" />
              </div>
              <div class="w-full">
                <img src="/assets/Images/Home2.jpg" alt="Sample Image" />
              </div>
            </div>
            <div class="marquee marquee-reverse">
              <div class="w-full">
                <img src="/assets/Images/Home2.jpg" alt="Sample Image" />
              </div>
              <div class="w-full">
                <img src="/assets/Images/Home2.jpg" alt="Sample Image" />
              </div>
              <div class="w-full">
                <img src="/assets/Images/Home2.jpg" alt="Sample Image" />
              </div>
              <div class="w-full">
                <img src="/assets/Images/Home2.jpg" alt="Sample Image" />
              </div>
              <div class="w-full">
                <img src="/assets/Images/Home2.jpg" alt="Sample Image" />
              </div>
              <div class="w-full">
                <img src="/assets/Images/Home2.jpg" alt="Sample Image" />
              </div>
              <div class="w-full">
                <img src="/assets/Images/Home2.jpg" alt="Sample Image" />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/28.jpg"
                  alt="28"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/22.jpg"
                  alt="22"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/19.jpg"
                  alt="19"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/12.jpg"
                  alt="12"
                />
              </div>
            </div>
          </div>
          <div class="marquee-wrapper flex">
            <div class="marquee">
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/ec-8.jpg"
                  alt="ec-8"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/ec-18.jpg"
                  alt="ec-18"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/ec-15.jpg"
                  alt="ec-15"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/ec-11.jpg"
                  alt="ec-11"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/app-8.jpg"
                  alt="app-8"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/app-11.jpg"
                  alt="app-11"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/app-1.jpg"
                  alt="app-1"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/4.jpg"
                  alt="4"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/23.jpg"
                  alt="23"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/2.jpg"
                  alt="2"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/17.jpg"
                  alt="17"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/13.jpg"
                  alt="13"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/10.jpg"
                  alt="10"
                />
              </div>
            </div>
            <div class="marquee">
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/ec-8.jpg"
                  alt="ec-8"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/ec-18.jpg"
                  alt="ec-18"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/ec-15.jpg"
                  alt="ec-15"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/ec-11.jpg"
                  alt="ec-11"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/app-8.jpg"
                  alt="app-8"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/app-11.jpg"
                  alt="app-11"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/app-1.jpg"
                  alt="app-1"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/4.jpg"
                  alt="4"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/23.jpg"
                  alt="23"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/2.jpg"
                  alt="2"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/17.jpg"
                  alt="17"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/13.jpg"
                  alt="13"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/10.jpg"
                  alt="10"
                />
              </div>
            </div>
            <div class="marquee">
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/ec-8.jpg"
                  alt="ec-8"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/ec-18.jpg"
                  alt="ec-18"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/ec-15.jpg"
                  alt="ec-15"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/ec-11.jpg"
                  alt="ec-11"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/app-8.jpg"
                  alt="app-8"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/app-11.jpg"
                  alt="app-11"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/app-1.jpg"
                  alt="app-1"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/4.jpg"
                  alt="4"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/23.jpg"
                  alt="23"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/2.jpg"
                  alt="2"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/17.jpg"
                  alt="17"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/13.jpg"
                  alt="13"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/10.jpg"
                  alt="10"
                />
              </div>
            </div>
          </div>
          <div class="marquee-wrapper flex">
            <div class="marquee marquee-reverse">
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/ec-7.jpg"
                  alt="ec-7"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/ec-17.jpg"
                  alt="ec-17"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/app-9.jpg"
                  alt="app-9"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/app-5.jpg"
                  alt="app-5"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/app-3.jpg"
                  alt="app-3"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/5.jpg"
                  alt="5"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/25.jpg"
                  alt="25"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/18.jpg"
                  alt="18"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/16.jpg"
                  alt="16"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/1.jpg"
                  alt="1"
                />
              </div>
            </div>
            <div class="marquee marquee-reverse">
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/ec-7.jpg"
                  alt="ec-7"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/ec-17.jpg"
                  alt="ec-17"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/app-9.jpg"
                  alt="app-9"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/app-5.jpg"
                  alt="app-5"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/app-3.jpg"
                  alt="app-3"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/5.jpg"
                  alt="5"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/25.jpg"
                  alt="25"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/18.jpg"
                  alt="18"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/16.jpg"
                  alt="16"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/1.jpg"
                  alt="1"
                />
              </div>
            </div>
            <div class="marquee marquee-reverse">
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/ec-7.jpg"
                  alt="ec-7"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/ec-17.jpg"
                  alt="ec-17"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/app-9.jpg"
                  alt="app-9"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/app-5.jpg"
                  alt="app-5"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/app-3.jpg"
                  alt="app-3"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/5.jpg"
                  alt="5"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/25.jpg"
                  alt="25"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/18.jpg"
                  alt="18"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/16.jpg"
                  alt="16"
                />
              </div>
              <div class="w-full">
                <img
                  src="https://www.primefaces.org/cdn/primeflex/images/landing/blocks/light/1.jpg"
                  alt="1"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
